
body {
    font-family: sans-serif;
}
.f_logo{
    float: left; width: 500px;
}
.logo{
    height:350px;
}

footer {
	background: rgb(1, 51, 51);
	color: white;
	display:flexbox;
	padding: 30px;
}
footer div h6 {
	text-align: center;
}
.columnss {
	display: flex;
	align-items: center;

}

.topnav {
                background-color:white;
                width: 100%;
                height: 7px;
                
            }
.img
           {
               position: absolute;
               display: inline;
             top: 24px;
             left: 8px;
           }
ul.u1 {
              list-style-type: none;
              position: absolute;
              right: 0;
              margin-top: 0px;
              height: 40px;
            }
            li.l23 {
                float: left;
                padding: 20px;
                text-align: center;
                color: grey;  
            }
            .apply {
                border: 1px solid rgb(230, 74, 18);
                display: inline-block;
                width: 100px;
                background-color: rgb(230, 74, 18);
                color: white;
                height: 19px;
                
            }

            .main12{
                background-image: url(bg.jpeg);
                /* margin:5px; */
                width: 100%;
                height: 600px;
                background-size: cover;
                box-shadow:inset 0 0 0 2000px #000000b3;
                /* opacity: 0.8; */
            }
            .h1 {
                font-size: 90px;
                color:rgb(252, 252, 252);
                margin-left: 200px;
            }
            .h3 {
                font-size: 33px;
                color: whitesmoke;
                margin-left: 200px;
            }
            .p1 {
                display: inline-block;
                background-color: #4992ca;
                padding: 10px;
                width: 150px;
                color: whitesmoke;
                margin-left: 200px;
                text-align: center;
            }
            /* .f{
                height 100px;
            } */
            .p2{
                display: inline-block;
                color: white;
                padding: 10px;
                width: 150px;
                border: 2px solid white;
                margin-left: 200px;
                text-align: center;
            }
            .p3 {
                margin-left: 200px;
                display: inline-block;
                padding: 10px;
                background-color: whitesmoke;
                border: 1px solid whitesmoke;
                border-radius: 15px;
            }
            .main123 {
                width: 100%;
                height: 700px;
                background-color:#4992ca; 
                color: white;
                padding: 10px;
                text-align: center;
                
            }
            .h21 {
                font-size: 45px;
                
            }
            .icon{
                width: 30%;
                margin: 20px;
                color: white;
                text-align: center;
            }
            .i1{
                float: left;
            }
            .i2 {
                float: left;
            }
            .i3 {
                float: left;
            }
            .h41{
                font-size: 30px;
            }
            .main21{
                text-align: center;
                margin: 20px;
            }
            .h42{
                font-size: 30px;
            }
            .left{
                float: left;
                width: 47%;
                margin: 0px 20px;
            }
            .right {
                float: left;
                width: 47%;
                margin: 0px 20px;
            }
            .sec {
                /* text-align: center; */
                /* margin-left: 180px; */
                border: 1px solid white;
                width: 100%;
                height: 900px;
                clear: both;
            }
            img {
                display: block;
                margin: auto;
            }
            section {
                height: 180px;
                margin-left: 180px; 
                /* border: 1px solid; */
            }
            h6 {
                font-size: 24px;
                margin: 0px 0px -15px 8px;
                padding: 0;
                color: gray;
            }
            .a {
                font-size:15px;
                padding: 0;
                margin: 0;
                
                
            }
            .ab{
                font-size:15px;
                padding: 0;
                margin: 0;
                color:whitesmoke;
            }
            
            .s {
                text-align: center;
            }
            .l1{
                float: left;
                width: 15%;
            }
            .h7
            {
                font-size: 24px;
                margin: 0px 0px -15px 8px;
                padding: 0;
                color: whitesmoke;
               
            }
            .l2{
                float: left;
                width: 15%;
                color :gray;
                font-family: 'Roboto';
                font-weight: 100;
                
            }
            .l3{
                float: left;
                width: 50%;
                color:white;
                height: 100%;
            }
            .l31{
                float: left;
                width: 50%;
                color:gray;
                height: 100%;
            }
            .sec2 {
                width: 100%;
               height: 710px;
                background-color: #4992ca;
                color: white;
                 
            }
            .h215{
                font-size: 45px;
                display: inline-block;
                /* border: 1px solid; */
                margin-top: -80px;
                margin-left: 600px;
            }
            ol{
                width: 60%;
                height: 20px;
                padding: 20px;
                margin-left: 160px;
                display: inline-block;
            }
            .u{
                list-style-type: circle;
                margin: 10px;
                width: 50%;
                
            }
            
              .bt {
                  text-align: center;
                  background-color: #4992ca;
                  color: white;
                  display: inline-block;
                  margin: auto;
                  padding: 10px;
                  width: 150px;
                  margin-left: 630px;
              }
              .bt12 {
                  text-align: center;
                  background-color: #4992ca;
                  color: white;
                  display: inline-block;
                  /* margin: auto; */
                  padding: 10px;
                  width: 150px;
                  margin-left: 100px;
              }
              .sec3{
                  text-align: center;
                  background-color:#424242;
                  color: white;
                  height:270px;
                  padding: 15px;
                  clear: both;
              }
              .a123 {
                  color: white;
                  text-decoration: none;
                  border: 2.5px solid;
                  padding: 20px;
                  width: 200px;
                  margin-left: 587px;
                  
              }
              .card{
                  clear: both;
                  text-align: center;
                  margin: 30px;
                  border: 1px solid lightgray;
                  width:20%;
                  height: 420px;
                  margin-left: 587px;
                
                  
              }
              
              .cd{
                  height: 300px;
                  border-top: 10px solid #4992ca;
                  border-bottom: 1ps solid rgb(209, 205, 205);
                  background-color: #D1D0CE;
              }
              .cd1{
                  /* background-color: lightgray; */
                  margin: 0;
                  border-top: 2px solid grey;
                   height: 120px;
                   padding: 10px;
              }

              .he{
                  color: gray;
                  position: absolute;
                  left: 620px;
                  font-size: 40px;
              }

              .f{
                height: 400px;
                width: 100%;
                display: flex;
            }
            .flex-container {
               display: flex;
              margin-left: 100px;
              width: 100%;
              }

              .container{
                  display: flex;
                  position: absolute;
                  left: 360px;
              }

              .g_card {
                  margin: 5px;
                  border: 1px solid lightgray;
                  height: 370px;
                  width: 40%;
                  text-align: center;

                  
              }
              .cd12{
                  height: 100px;
                  border-top: 10px solid #4992ca;
                  border-bottom: 1px solid grey;
                  background-color: rgb(236, 230, 230);
                  color:black;
              }
              
              .cd21{
                  margin: 0;
                  border-top: 1px solid grey;
                   height: 270px;
                   padding: 10px;
              }

              .sec5{
                  text-align: center;
                  background-color: rgb(100, 98, 98);
                  color: white;
                  height:220px;
                  padding: 15px;
                  
              }
              .btn{
                  padding: 10px;
                  width: 200px;
                  background-color: #0000;
                  color: white;
                  border: 2px solid white;
              }
              .text{
                  padding: 10px;
                  width: 300px;
              }

              .sec6{
                  text-align: center;
                  background-color: #4992ca;
                  color: white;
                  height:200px;
                  padding: 15px;
                  clear: both;
              }
              .b{
                  text-align: center;
                  width: 100%;
                  height: 500px;
                  /* margin-left: 200px; */
              }
              .b1{
                  float: left;
                  width: 28%;
                  margin-left: 200px;
              }
              .b2{
                  float: left;
                  width: 28%;
              }
              .b3{
                  float: left;
                  width: 28%;
              }
              .sec8{
                  background-color: #4992ca;
                  color: white;
                  text-align: center;
                  height: 500px;
                  margin: 10px;
              }
              .pic1{
                  float: left;
                  width: 30%;
                  margin-left: 120px;
              }
              .pic2{
                  float: left;
                  width: 30%;
              }
              .pic3{
                  float: left;
                  width: 30%;
              }
              img{
                  margin-left: auto;
                  margin-right: auto;
                  
              }
              .foot{
                  width: 100%;
                  height: 200px;
                  background-color: black;
                  color: white;
              }
 .foot.socialIcons{
        justify-content: space-evenly;
    }







            
/* .topnav {
              background-color:white;
              display: inline;
              background-color: aqua;
              width: 100%;
              height: 40px;
              position: relative;
            } */

            /* .apply {
               border: 1px solid brown;
               display: inline-block;
               background-color: brown;
               color: white;
               text-align: center;
               width: 60px;
               height: 0px;
               margin: 5px;
               padding: 0px;
           }  */

            /* .topnav a {
              display: inline;
              float: right;
              color: grey;
              text-align: right;
              padding: 14px 16px;
              text-decoration: none;
              font-size: 16px;
              
            } */

 

            
